h1 {
    background-color: red;
    font-size: xx-large;
    margin: 0 auto;
}
.navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0 50px 0;
  font-size: 25px;
}
li {
  padding:0px;
  margin: 10px 20px 10px;
}
div, p{
  background-color: blue;
  color: white;
  text-align: center;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}
button {
  height: 30px;
  width: 120px
}
footer{
  padding: 10px;
  text-align: right;
}